<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".ChatArchiveApp"
        android:allowBackup="false"
        android:icon="@mipmap/chatarchive_icon"
        android:roundIcon="@mipmap/chatarchive_icon_round"
        android:label="ChatArchive"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LockActivity"
            android:exported="false"
            android:noHistory="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".UpgradeActivity"
            android:exported="false" />

        <activity
            android:name=".AttachmentTransferActivity"
            android:exported="false"
            android:excludeFromRecents="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".WhatsAppNotificationListener"
            android:label="ChatArchive notification access"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations|alerting" />

            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="ongoing|silent" />
        </service>

    </application>
</manifest>
